// utils
@mixin hide-text {
  overflow: hidden;
  &:before {
    content: '';
    display: block;
    width: 0;
    height: 100%;
  }
}

@mixin font($size: 1em, $line-height: normal, $weight: normal) {
  font-family: $font-sans;
  font-size: $size;
  font-weight: $weight;
  line-height: $line-height;
}
