@import "~bootstrap/scss/bootstrap";
@import "~spuit";

@import "styles/config/variables";
@import "styles/config/mixins";

// basic styles

html {
  font-size: 100%;
  @include breakpoint-down(md) {
    font-size: 80%;
  }
}

body {
  color: $color-black;
  background: #fff;
}
